










@keyframes slideUpPop {
    0% {
       bottom: -100%;
       left: 50%;
       transform: translate(-50%,100%);
       opacity: 0;
    }
    5% {
        bottom: 15%;
        left: 50%;
        transform: translate(-50%,15%);
    }
    10% {
        bottom: 3%;
        left: 50%;
        transform: translate(-50%,3%);
    }
    15% {
        bottom: 7%;
        left: 50%;
        transform: translate(-50%,7%);
        opacity: 1;
    }
    20% {
        bottom: 5%;
        left: 50%;
        transform: translate(-50%,5%);
    }
    80% {
        bottom: 5%;
        left: 50%;
        transform: translate(-50%,5%);
    }
    85% {
        bottom: 7%;
        left: 50%;
        transform: translate(-50%,7%);
        opacity: 1;
    }
    90% {
        bottom: 3%;
        left: 50%;
        transform: translate(-50%,3%);
    }
    95% {
        bottom: 15%;
        left: 50%;
        transform: translate(-50%,15%);
    }
    100% {
        bottom: -100%;
        left: 50%;
        transform: translate(-50%,100%);
        opacity: 1;
    }
}


