







section.notification1{
    width: auto;
    height: 5vw;
    max-height: 10vw;
    max-width: 90vw;
    bottom: -100%;
    left: 50%;
    float: left;
    overflow: hidden;
    position: fixed;
    transform: translate(-50%,5%);
    backdrop-filter: blur(3px);
    border-radius: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border: 0.1vw solid #909090;
    animation: slideUpPop 6s ease-out;
}


section.notification1::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 95%;
    left: 50%;
    float: left;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%,-95%);
    filter: blur(0vw);
    backdrop-filter: blur(3px);
    background: #1a1a1a;
    z-index: -1;
} 

section.notification1 .icon{
    width: auto;
    min-width: 4vw;
    max-width: 8vw;
    height: 100%;
    top: 0;
    left: 0;
    float: left;
    overflow: hidden;
    position: relative;
}

section.notification1 .icon .cont{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    float: left;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}

section.notification1 .icon .cont i{
    width: 4vw;
    height: auto;
    float: right;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-size: 1.8vw;
    text-align: center;
}

section.notification1 .icon .cont img {
    width: 3vw;
    height: 3vw;
    top: 0;
    left: 0;
    float: left;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    object-position: center;
    background-color: #fff;
    background-position: center;
    border-radius: 50%;
    border: 0.2vw solid #fff;
    padding: 0.2vw;
    
}

section.notification1 .message{
    width: auto;
    min-width: 1vw;
    max-width: 85vw;
    height: 100%;
    top: 0;
    left: 0;
    float: left;
    overflow: hidden;
    position: relative;
}

section.notification1 .message .cont{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    float: left;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.notification1 .message .cont p{
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    float: left;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-size: 1.5vw;
}




