<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil del usuario</title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../static/css/Sections/Forms/formUser1.css" type="text/css">
    <link rel="stylesheet" href="../static/css/Sections/Forms/targetaForm1.css" type="text/css">
    <link rel="stylesheet" href="../static/css/Sections/Headers/header1.css" type="text/css">
    <link rel="stylesheet" href="../static/css/Fuentes-tipografia.css" type="text/css">
    <link rel="stylesheet" href="../static/css/fontello-7c56770c/css/fontello.css" type="text/css">
</head>
<body>
    <div class="main">
        <section class="header">
            <div class="container1">
                <div class="containerMenu">
                    <div class="menu">
                        <i class="icon-menu"></i>
                    </div>
                </div>
                <div class="containerLogo">
                    <label class="logo">
                        <div class="CC">
                            <p>PathToy</p>
                        </div>
                    </label>
                    <label class="region">
                        <div class="CC">
                            <small>SV</small>
                        </div>
                    </label>
                </div>
            </div>
            <div class="container2">
                <div class="containerList">
                    <ul>
                        <li>
                            <div class="containerBoton">
                                <div class="containerIcon">
                                    <div class="icon">
                                        <i class="icon-login-1"></i>
                                    </div>
                                </div>
                                <div class="containerText">
                                    <div class="text">
                                        <p>Login</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="containerBoton">
                                <div class="containerIcon">
                                    <div class="icon">
                                        <i class="icon-id-card-o"></i>
                                    </div>
                                </div>
                                <div class="containerText">
                                    <div class="text">
                                        <p>SignUp</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="containerBoton">
                                <div class="containerIcon">
                                    <div class="icon">
                                        <i class="icon-exchange"></i>
                                    </div>
                                </div>
                                <div class="containerText">
                                    <div class="text">
                                        <p>Intercambiar</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="containerBoton">
                                <div class="containerIcon">
                                    <div class="icon">
                                        <i class="icon-hand-paper-o"></i>
                                    </div>
                                </div>
                                <div class="containerText">
                                    <div class="text">
                                        <p>Donar</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="containerBoton">
                                <div class="containerIcon">
                                    <div class="icon">
                                        <i class="icon-resize-horizontal"></i>
                                    </div>
                                </div>
                                <div class="containerText">
                                    <div class="text">
                                        <p>Mis intercambios</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="containerBoton">
                                <div class="containerIcon">
                                    <div class="icon">
                                        <i class="icon-calendar-check-o"></i>
                                    </div>
                                </div>
                                <div class="containerText">
                                    <div class="text">
                                        <p>Mis donaciones</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="containerBoton">
                                <div class="containerIcon">
                                    <div class="icon">
                                        <i class="icon-dot-circled"></i>
                                    </div>
                                </div>
                                <div class="containerText">
                                    <div class="text">
                                        <p>Ayuda</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="body">
            <section class="formUser1">
                <div class="title">
                    <div class="interno">
                        <p>Información del usuario</p>
                    </div>
                </div>
                <div class="content">
                    <!-- Seccion de targetas de formulario -->
                    <section class="targetaForm1">
                        <form method="POST" action="feed.html">
                            <div class="formInputs">
                                <div class="containerData">
                                    <div class="inpuTitle">
                                        <label for="id">id:</label>
                                    </div>
                                    <div class="inpuHTML">
                                        <input type="text" id="id" name="id" placeholder="Id del usuario">
                                    </div>
                                </div>
                                <div class="containerData">
                                    <div class="inpuTitle">
                                        <label for="nombre">nombre:</label>
                                    </div>
                                    <div class="inpuHTML">
                                        <input type="text" id="nombre" name="nombre" placeholder="Nombre del usuario">
                                    </div>
                                </div>
                                <div class="containerData">
                                    <div class="inpuTitle">
                                        <label for="apellido">Apellido:</label>
                                    </div>
                                    <div class="inpuHTML">
                                        <input type="text" id="apellido" name="apellido" placeholder="Apellido del usuario">
                                    </div>
                                </div>
                                <div class="containerData">
                                    <div class="inpuTitle">
                                        <label for="correo">Correo:</label>
                                    </div>
                                    <div class="inpuHTML">
                                        <input type="text" id="correo" name="correo" placeholder="correo">
                                    </div>
                                </div>
                            </div>
                            <div class="formSubmit">
                                <div class="containerData">
                                    <button type="submit">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
            <div class="footer"></div>
        </div>
        
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>