<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../static/css/Sections/Logins/login1.css" type="text/css">
    <link rel="stylesheet" href="../static/css/Sections/Logins/targetaLogin1.css" type="text/css">
    <link rel="stylesheet" href="../static/css/Sections/Forms/targetaForm1.css" type="text/css">
</head>
<body>
    <div class="main">
        <div class="body">
            <div class="slide-container">
                <div class="slide">Slide 1</div>
                <div class="slide">Slide 2</div>
                <div class="slide">Slide 3</div>
            </div>
            <button id="prevBtn">Anterior</button>
            <button id="nextBtn">Siguiente</button>
        </div>
    </div>
    <div class="modals">
        <section class="notification1">
            <div class="icon">
                <div class="cont">
                    <img src="https://w7.pngwing.com/pngs/452/495/png-transparent-react-javascript-angularjs-ionic-github-text-logo-symmetry-thumbnail.png">
                </div>
            </div>
            <div class="message">
                <div class="cont">
                    <p>Inicio de sesion exitoso</p>
                </div>
            </div>
        </section>
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>